.d1{
    height: 30px;
    color: white;
    font-family: monospace;
    border-style: solid;
    background-color: black;
}
body{
    margin: 0px;
}
.d2{
    display: flex;
    justify-content: flex-start;
    justify-content: baseline;
}